/*  Color Palletes 

Note to self: 
  - Original pallete created pre-TBBT theme: http://paletton.com/#uid=23j0u0kllnu5NNhdlvwsOg6Hd80 


**************************

Note: Decided towards the end of game creation to use Bootstrap, so some CSS might be here unnecessarily. 
Some has been cleaned out, but what is left I'll deal with later.   

*/


* {
	box-sizing: border-box;
}

body {
	background-color: #c01618; 
	font-size: 20px;
	color: #ffffff;
	font-family: 'Nunito Sans', sans-serif; 
	line-height: 24px;
} 

h1 {
	font-family: 'Comfortaa', cursive;
	font-size: 66px;
	color: #f9d500;
	margin-bottom: 15px;
	text-align: center;
}

h2 {  
	font-family: 'Comfortaa', cursive;
} 

button {
	margin: 25px auto;
	padding: 25px 50px;
	background-color: #f9d500;
	font-size: 24px;
	color: #c01618;
}

input[type='radio'] {
	margin-right: 5px;
	line-height: 25px;
}

.gamecontainer {
	margin: 15px 0;
} 

.scoretally {
	margin: 20px 0;
}

.answers {
	padding: 10px 25px;
}

.gameover h2 {
	color: #FFE861;
	font-size: 45px;

}

.margintpbtm {
	margin: 20px 0; 
}
